#train-table th, td {
    display: inline-block;
    width: 20%;
}

#main-title {
    font-family: 'Faster One', cursive;
    font-size: 75px;
}

.jumbotron {
    background-image: url("../images/train2.gif");
}

